<html lang="html">
<head>
    <meta charset="UTF-8"/>
    <title>{{ title }} [TheBankster]</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link type="text/css" rel="stylesheet"
          href="https://oxal.org/projects/sakura/demo/sakura-dark.css" -->
</head>
<body>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

{% block script %}
{% endblock script %}

</body>
</html>