{% extends 'app.twig' %}

{% block content %}
    <section class="section">
        <h1 class="title">{{ title }}</h1>

        <div id="chart_div" style="width:100%; height:600px;"></div>
    </section>

    <section class="section">
        <h2 class="subtitle">{{ subtitle }}</h2>
        {% include 'partial/transactions.twig' %}
    </section>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', {
            'packages': ['table', 'corechart', 'bar']
        });
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {
            var data = google.visualization.arrayToDataTable({{ data|raw }});
            var zoom = {{ zoom }};

            var options = {
                chartArea: {
                    width: '50%'
                },
                isStacked: true,
                backgroundColor: {fill: 'transparent'},
                bars: 'horizontal',
                seriesType: 'bars',
                series: {0: {type: 'line'}}
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            chart.draw(data, options);

            // allow zooming in and limit to months
            google.visualization.events.addListener(chart, 'select', function selectHandler(e) {
                var sel = chart.getSelection();
                if (!sel.length) return;

                var col = sel[0].column;
                var row = sel[0].row;
                var label = data.getColumnLabel(col);
                var date = '';
                if (row) date = data.getValue(row, 0);

                var newloc = window.location.pathname;
                if (zoom && (label.substr(0, 1) !== '[')) {
                    newloc += '/' + encodeURIComponent(label);
                }
                if (date) {
                    newloc += '?date=' + encodeURIComponent(date);
                }

                window.location.href = newloc;
            });
        }
    </script>
{% endblock script %}