{% extends 'app.twig' %}

{% block content %}
    <section class="section">
        <h1 class="title">{{ title }}</h1>

        <div id="chart_div" style="width:100%; height:400px;"></div>
    </section>




{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', {
            'packages': ['table', 'corechart', 'bar']
        });
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {
            var data = google.visualization.arrayToDataTable({{ data|raw }});

            var options = {
                chartArea: {
                    width: '50%'
                },
                isStacked: true,
                backgroundColor: {fill: 'transparent'},
                bars: 'horizontal',
                seriesType: 'bars',
                series: {0: {type: 'line'}}
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock script %}